@page
@{
    ViewData["Title"] = "AngularJS Projects";
}

<section class="py-2 mb-3 px-md-0 container">
    <h1>AngularJS</h1>
</section>

<section class="mb-3 px-md-0 container">
    <div class="bg-light p-3 rounded-3">
        <span class="fw-bolder lead">Below is all of AngularJS projects that I've created</span>
    </div>
</section>

<section class="mb-3 px-md-0 container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">AngularJS API</div>
                <div class="card-body">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vestibulum, magna nec imperdiet ullamcorper,
                        massa enim tincidunt augue, id lacinia mauris ligula eu nisi.
                        Nullam in ultricies purus, vitae tempus massa. Suspendisse vehicula sapien vitae sapien sollicitudin vulputate.
                        Proin cursus nunc leo, a luctus urna egestas aliquam.
                        Mauris tempor ac diam et pharetra. Duis molestie nulla eleifend pretium pellentesque.
                        In dapibus non nisi ut elementum.
                    </p>
                    <p><span class="fw-bold">NOTE:</span>This will be phased out later</p>
                    <a asp-page="/AngularJS/MovieAPI" class="btn btn-primary" asp-area="">Learn more...</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Facebook Picture ID</div>
                <div class="card-body">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vestibulum, magna nec imperdiet ullamcorper,
                        massa enim tincidunt augue, id lacinia mauris ligula eu nisi.
                        Nullam in ultricies purus, vitae tempus massa. Suspendisse vehicula sapien vitae sapien sollicitudin vulputate.
                        Proin cursus nunc leo, a luctus urna egestas aliquam.
                        Mauris tempor ac diam et pharetra. Duis molestie nulla eleifend pretium pellentesque.
                        In dapibus non nisi ut elementum.
                    </p>
                    <p><span class="fw-bold">NOTE:</span>This will be phased out later</p>
                    <a asp-page="/AngularJS/FacebookID" asp-area="" class="btn btn-primary">Learn more...</a>
                </div>
            </div>
        </div>
    </div>
</section>