@page

@{
    ViewData["Title"] = "Fish Tank Project";
}

<div id="fish-tank">
    <div id="bubble-field"></div>
    <div class="plant">
        <div class="leaf-1"></div>
    </div>
    <div class="fish">
        <div class="top-fin"></div>
        <div class="fish-body"></div>
        <div class="tail-fin"></div>
        <div class="side-fin"></div>
        <div class="scale scale-1"></div>
        <div class="scale scale-2"></div>
        <div class="scale scale-3"></div>
    </div>
    <div class="fish blue-fish">
        <div class="top-fin"></div>
        <div class="fish-body"></div>
        <div class="tail-fin"></div>
        <div class="side-fin"></div>
        <div class="scale scale-1"></div>
        <div class="scale scale-2"></div>
        <div class="scale scale-3"></div>
    </div>
    <div class="fish white-fish">
        <div class="top-fin"></div>
        <div class="fish-body"></div>
        <div class="tail-fin"></div>
        <div class="side-fin"></div>
        <div class="scale scale-1"></div>
        <div class="scale scale-2"></div>
        <div class="scale scale-3"></div>
    </div>
    <div class="fish red-fish">
        <div class="top-fin"></div>
        <div class="fish-body"></div>
        <div class="tail-fin"></div>
        <div class="side-fin"></div>
        <div class="scale scale-1"></div>
        <div class="scale scale-2"></div>
        <div class="scale scale-3"></div>
    </div>
</div>