@page

@{
    ViewData["Title"] = "Bootstrap-jQuery Projects";
}

<section class="py-2 mb-3 container">
    <h1>jQuery Projects</h1>
</section>

<section class="mb-3 container">
    <div class="card card-body rounded-3">
        <span class="lead">Below is all of Bootstrap-jQuery projects that I've created</span>
    </div>
</section>

<section class="mb-3 container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Bubbling Effect Project</div>
                <div class="card-body">
                    <p>
                        The project explains DOM traversal using jQuery. The technologies used in this project includes the following:
                    </p>
                    <ul>
                        <li>HTML5</li>
                        <li>jQuery</li>
                        <li>CSS</li>
                    </ul>
                    <a asp-page="/jQuery/BubblingTable" class="btn btn-primary" asp-area="">View Project</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Calculator Project</div>
                <div class="card-body">
                    <p>
                        This project created a simple calculator using jQuery. The technologies used in this project includes the following:
                    </p>
                    <ul>
                        <li>HTML5</li>
                        <li>jQuery</li>
                        <li>Bootstrap 5</li>
                    </ul>
                    <a asp-page="/jQuery/Calculator" class="btn btn-primary" asp-area="">View Project</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Fish Tank Project</div>
                <div class="card-body">
                    <p>
                        The project creates a fish tank. I found this project <a href="https://medium.com/nerd-for-tech/how-to-create-a-fish-tank-with-html-css-c98aca39ae85">here</a>. 
                        The technologies used in this project includes the following:
                    </p>
                    <ul>
                        <li>HTML5</li>
                        <li>jQuery</li>
                        <li>CSS</li>
                    </ul>
                    <a asp-page="/jQuery/FishTank" class="btn btn-primary" asp-area="">View Project</a>
                </div>
            </div>
        </div>
    </div>
</section>