@page

@{
    ViewData["Title"] = "Bubbling Effect Project";
}

<h2>Bubbling Effect: Tables</h2>
<h3>Description: Have Checkboxes Change Color of Row When Selected</h3>
<div id="checkboxTable">
    <table id="Bubbling" align="center">
        <tr>
            <td>
                <input type="checkbox" id="chk1" class="select" /> First Checkbox
            </td>
            <td>A</td>
            <td>B</td>
            <td>C</td>
            <td>D</td>
        </tr>
        <tr>
            <td>
                <input type="checkbox" id="chk2" value="2" class="select" /> Second Checkbox
            </td>
            <td>E</td>
            <td>F</td>
            <td>G</td>
            <td>H</td>
        </tr>
        <tr>
            <td>
                <input type="checkbox" id="chk3" value="3" class="select" /> Third Checkbox
            </td>
            <td>I</td>
            <td>J</td>
            <td>K</td>
            <td>L</td>
        </tr>
    </table>
</div>