@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="bg-light bg-gradient p-5 mb-3 container text-center">
    <h1>Welcome to My Random Projects Page</h1>
    <span class="lead">This project is an acumulation of projects from years' past</span>
</section>

<section class="container">
    <h2 class="text-center mb-2">Website Contents</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Header 1</div>
                <div class="card-body">
                    <h4>Title 1</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vestibulum, magna nec imperdiet ullamcorper,
                        massa enim tincidunt augue, id lacinia mauris ligula eu nisi.
                        Nullam in ultricies purus, vitae tempus massa. Suspendisse vehicula sapien vitae sapien sollicitudin vulputate.
                        Proin cursus nunc leo, a luctus urna egestas aliquam.
                        Mauris tempor ac diam et pharetra. Duis molestie nulla eleifend pretium pellentesque.
                        In dapibus non nisi ut elementum.
                    </p>
                    <a asp-page="/Index" asp-area="">Learn more...</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Header 2</div>
                <div class="card-body">
                    <h4>Title 2</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vestibulum, magna nec imperdiet ullamcorper,
                        massa enim tincidunt augue, id lacinia mauris ligula eu nisi.
                        Nullam in ultricies purus, vitae tempus massa. Suspendisse vehicula sapien vitae sapien sollicitudin vulputate.
                        Proin cursus nunc leo, a luctus urna egestas aliquam.
                        Mauris tempor ac diam et pharetra. Duis molestie nulla eleifend pretium pellentesque.
                        In dapibus non nisi ut elementum.
                    </p>
                    <a asp-page="/Index" asp-area="">Learn more...</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Header 3</div>
                <div class="card-body">
                    <h4>Title 3</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vestibulum, magna nec imperdiet ullamcorper,
                        massa enim tincidunt augue, id lacinia mauris ligula eu nisi.
                        Nullam in ultricies purus, vitae tempus massa. Suspendisse vehicula sapien vitae sapien sollicitudin vulputate.
                        Proin cursus nunc leo, a luctus urna egestas aliquam.
                        Mauris tempor ac diam et pharetra. Duis molestie nulla eleifend pretium pellentesque.
                        In dapibus non nisi ut elementum.
                    </p>
                    <a asp-page="/Index" asp-area="">Learn more...</a>
                </div>
            </div>
        </div>
    </div>
</section>
